<section class="bg-theme-1 p-25 width-100">
  <div class="container-fluid p-0">
    <!-- First Row (70%) -->
    <div class="row top-row">
      <div class="col-12 col-md-6">
        <div class="content-box retro-border bg-theme-2">
          <!-- Title Bar -->
          <div class="retro-title-bar retro-border font-1">
            <div class="title-text">Socials</div>
            <div class="close-button">X</div>
          </div>

          <!-- Socials List -->
          <div class="mt-4">
            <ul class="education-list font-2">
              <li class="intro-text">
                <h2 class="mx-3">hiraahmad480@gmail.com</h2>
              </li>
              <li class="intro-text">
                <h2 class="mx-3">github.com/hiraa-ahmad</h2>
              </li>
              <li class="intro-text">
                <h2 class="mx-3">linkedin.com/in/hiraaahmad</h2>
              </li>
              <li class="intro-text">
                <h2 class="mx-3">(+92) 33 9873641</h2>
              </li>
            </ul>
          </div>

        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="content-box retro-border bg-theme-2">
          <!-- Title Bar -->
          <div class="retro-title-bar retro-border font-1">
            <div class="title-text">Interests</div>
            <div class="close-button">X</div>
          </div>

          <!-- Interests -->

        </div>
      </div>
    </div>

    <!-- Second Row (30%) -->
    <div class="row bottom-row mt-2">
      <div class="col-12">
        <div class="content-box retro-border">
          <!-- Title Bar -->
          <div class="retro-title-bar retro-border font-1">
            <div class="title-text">Reference</div>
            <div class="close-button">X</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>