<!-- <introduction></introduction>
<education-and-skills></education-and-skills>
<socials-and-interest></socials-and-interest> -->

<section class="bg-theme-1 p-25 width-100 introduction">
  <div class="retro-border p-1">
    <!-- First Row -->
    <div class="row m-0 top-row bg-theme-2">
      <div class="col-12 d-flex align-items-center p-0">
        <!-- Title Bar -->
        <div class="retro-title-bar retro-border font-1">
          <div class="title-text">PROFILE</div>
          <div class="close-button">X</div>
        </div>
      </div>
    </div>

    <!-- Second Row -->
    <div class="row m-0 bottom-row bg-theme-2">
      <div class="col-12 col-md-8 p-0">

        <!-- Introduction -->
        <div class="intro-text font-2">
          <h2>Hi, I’m Hira</h2>
          <p class="">
            a passionate UI/UX design enthusiast with a keen eye for creating intuitive and user-friendly digital
            experiences. While my core interest lies in crafting clean, functional interfaces, I also bring technical
            skills in Python and Java, along with experience in exploratory data analysis (EDA).
          </p>
        </div>

      </div>

      <!-- Image -->
      <div class="col-12 col-md-4 p-0 bg-fit-image"></div>

    </div>
  </div>
</section>

<section class="bg-theme-1 p-25 width-100 introduction">
  <div class="row">
    <!-- First Column -->
    <div class="col-12 col-md-6">
      <div class="mb-3 bg-primary">
        <!-- Education -->
        <div class="my-box m-botton-25 bg-theme-2 retro-border">
          <div class="retro-title-bar retro-border font-1">
            <div class="title-text">EDUCATION</div>
            <div class="close-button">X</div>
          </div>
          <div class="mt-2">
            <ul class="education-list font-2">
              <li class="intro-text">
                <h2 class="mx-3">Comsats University Islamabad</h2>
                <p class="mx-3">BS in Data Science (2023 - 2027)</p>
              </li>
              <li class="intro-text">
                <h2 class="mx-3">Army Public School & College</h2>
                <p class="mx-3">Intermediate / College (2021 - 2023)</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="mb-3 bg-success">
        <!-- Abilities -->
        <div class="my-box m-botton-25 bg-theme-2 retro-border my-25">
          <div class="retro-title-bar retro-border font-1">
            <div class="title-text">ABILITIES</div>
            <div class="close-button">X</div>
          </div>
          <div class="mt-2">
            <ul class="abilities-list font-2">
              <li class="intro-text">
                <h2 class="mx-3">Quick learner</h2>
              </li>
              <li class="intro-text">
                <h2 class="mx-3">Strong communicator</h2>
              </li>
              <li class="intro-text">
                <h2 class="mx-3">Problem solver</h2>
              </li>
              <li class="intro-text">
                <h2 class="mx-3">Creative thinker</h2>
              </li>
              <li class="intro-text">
                <h2 class="mx-3">Team player</h2>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Second Column -->
    <div class="col-12 col-md-6">
      <!-- Skills -->
      <div class="my-box bg-theme-2 retro-border">
        <div class="retro-title-bar retro-border font-1">
          <div class="title-text">SKILLS</div>
          <div class="close-button">X</div>
        </div>
        <div class="mt-2">
          <img src="../assets/skills.png" alt="my interests" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-theme-1 p-25 width-100 introduction">
  <div class="retro-border p-1">
    <!-- First Row -->
    <div class="row m-0 top-row bg-theme-2">
      <div class="col-12 d-flex align-items-center p-0">
        <!-- Title Bar -->
        <div class="retro-title-bar retro-border font-1">
          <div class="title-text snippet-font">SNIPPIT OF MY WORK</div>
          <div class="close-button">X</div>
        </div>
      </div>
    </div>

    <!-- Second Row -->
    <div class="row m-0 bg-theme-2">
      
      <!-- <p>my work here</p> -->
      <app-project-image-slider></app-project-image-slider>

    </div>
  </div>
</section>

<section class="bg-theme-1 p-25 width-100 introduction">
  <div class="row">
    <!-- First Column -->
    <div class="col-12 col-md-6">
      <!-- Socials -->
      <div class="my-box m-botton-25 bg-theme-2 retro-border">
        <div class="retro-title-bar retro-border font-1">
          <div class="title-text">SOCIALS</div>
          <div class="close-button">X</div>
        </div>
        <div class="mt-2">
          <ul class="contact-list font-2">
            <li class="intro-text email-icon">
              <h2 class="mx-3 mt-1">hiraahmad480@gmail.com</h2>
            </li>
            <li class="intro-text github-icon">
              <h2 class="mx-3 mt-1">github.com/hiraa-ahmad</h2>
            </li>
            <li class="intro-text linkedin-icon">
              <h2 class="mx-3 mt-1">linkedin.com/in/hiraaahmad</h2>
            </li>
            <li class="intro-text phone-icon">
              <h2 class="mx-3 mt-1">(+92) 33 9873641</h2>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Second Column -->
    <div class="col-12 col-md-6">
      <div class="mb-3">
        <!-- Reference -->
        <div class="my-box m-botton-25 bg-theme-2 retro-border">
          <div class="retro-title-bar retro-border font-1">
            <div class="title-text">REFERENCE</div>
            <div class="close-button">X</div>
          </div>
          <div class="mt-2 intro-text font-2">
            <h2>Available upon request.</h2>
          </div>
        </div>
      </div>
      <div class="mb-3">
        <!-- Interests -->
        <div class="my-box bg-theme-2 retro-border">
          <div class="retro-title-bar retro-border font-1">
            <div class="title-text">INTERESTS</div>
            <div class="close-button">X</div>
          </div>
          <div class="mt-2">
            <img src="../assets/interests.png" alt="my interests" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- previous code -->
<!-- <section class="bg-theme-1 px-25 width-100 min-height-100">
  <div class="row m-0">
    <div class="col-12 col-md-6 p-0" style="height: auto;">

      <div class="my-box m-botton-25 bg-theme-2 retro-border">
        <div class="retro-title-bar retro-border font-1">
          <div class="title-text">Education</div>
          <div class="close-button">X</div>
        </div>
        <div class="mt-2">
          <ul class="education-list font-2">
            <li class="intro-text">
              <h2 class="mx-3">Comsats University Islamabad</h2>
              <p class="mx-3">BS in Data Science (2023 - 2027)</p>
            </li>
            <li class="intro-text">
              <h2 class="mx-3">Army Public School & College</h2>
              <p class="mx-3">Intermediate / College (2021 - 2023)</p>
            </li>
          </ul>
        </div>
      </div>

      <div class="my-box m-botton-25 bg-theme-2 retro-border my-25">
        <div class="retro-title-bar retro-border font-1">
          <div class="title-text">Abilities</div>
          <div class="close-button">X</div>
        </div>
        <div class="mt-2">
          <ul class="abilities-list font-2">
            <li class="intro-text">
              <h2 class="mx-3">Quick learner</h2>
            </li>
            <li class="intro-text">
              <h2 class="mx-3">Strong communicator</h2>
            </li>
            <li class="intro-text">
              <h2 class="mx-3">Problem solver</h2>
            </li>
            <li class="intro-text">
              <h2 class="mx-3">Creative thinker</h2>
            </li>
            <li class="intro-text">
              <h2 class="mx-3">Team player</h2>
            </li>
          </ul>
        </div>
      </div>

      <div class="my-box m-botton-25 bg-theme-2 retro-border">
        <div class="retro-title-bar retro-border font-1">
          <div class="title-text">Socials</div>
          <div class="close-button">X</div>
        </div>
        <div class="mt-2">
          <ul class="contact-list font-2">
            <li class="intro-text email-icon">
              <h2 class="mx-3 mt-1">hiraahmad480@gmail.com</h2>
            </li>
            <li class="intro-text github-icon">
              <h2 class="mx-3 mt-1">github.com/hiraa-ahmad</h2>
            </li>
            <li class="intro-text linkedin-icon">
              <h2 class="mx-3 mt-1">linkedin.com/in/hiraaahmad</h2>
            </li>
            <li class="intro-text phone-icon">
              <h2 class="mx-3 mt-1">(+92) 33 9873641</h2>
            </li>
          </ul>
        </div>
      </div>

      <div class="my-box m-botton-25 bg-theme-2 retro-border">
        <div class="retro-title-bar retro-border font-1">
          <div class="title-text">Reference</div>
          <div class="close-button">X</div>
        </div>
        <div class="mt-2 intro-text font-2">
          <h2>Available upon request.</h2>
        </div>
      </div>

    </div>

    <div class="col-12 col-md-6 p-0" style="height: auto;">

      <div class="my-box m-bottom-left-25 bg-theme-2 retro-border">
        <div class="retro-title-bar retro-border font-1">
          <div class="title-text">Skills</div>
          <div class="close-button">X</div>
        </div>
        <div class="mt-2">
          <img src="../assets/skills.png" alt="my interests" class="img-fluid">
        </div>
      </div>

      <div class="my-box m-bottom-left-25 bg-theme-2 retro-border">
        <div class="retro-title-bar retro-border font-1">
          <div class="title-text">Interests</div>
          <div class="close-button">X</div>
        </div>
        <div class="mt-2">
          <img src="../assets/interests.png" alt="my interests" class="img-fluid">
        </div>
      </div>

    </div>
  </div>
</section> -->