<section class="bg-theme-1 p-25 width-100 height-100">
  <div class="container-fluid h-100 p-0">
    <div class="row">
      <!-- Left Column -->
      <div class="col-12 col-md-6 left-col">

        <div class="left-box retro-border d-flex flex-column bg-theme-2">
          <!-- Title Bar -->
          <div class="retro-title-bar retro-border font-1">
            <div class="title-text">Education</div>
            <div class="close-button">X</div>
          </div>

          <!-- Education -->
          <div class="mt-2">
            <ul class="education-list font-2">
              <li class="intro-text">
                <h2 class="mx-3">Comsats University Islamabad</h2>
                <p class="mx-3">BS in Data Science (2023 - 2027)</p>
              </li>
              <li class="intro-text">
                <h2 class="mx-3">Army Public School & College</h2>
                <p class="mx-3">Intermediate / College (2021 - 2023)</p>
              </li>
            </ul>
          </div>
        </div>

        <div class="left-box retro-border d-flex flex-column bg-theme-2">
          <!-- Title Bar -->
          <div class="retro-title-bar retro-border font-1">
            <div class="title-text">Abilities</div>
            <div class="close-button">X</div>
          </div>

          <!-- Abilities -->
          <div class="mt-2" style="height: auto;">
            <ul class="abilities-list font-2">
              <li class="intro-text">
                <h2 class="mx-3">Quick learner</h2>
              </li>
              <li class="intro-text">
                <h2 class="mx-3">Strong communicator</h2>
              </li>
              <li class="intro-text">
                <h2 class="mx-3">Problem solver</h2>
              </li>
              <li class="intro-text">
                <h2 class="mx-3">Creative thinker</h2>
              </li>
              <li class="intro-text">
                <h2 class="mx-3">Team player</h2>
              </li>
            </ul>
          </div>

        </div>

      </div>

      <!-- Right Column -->
      <div class="col-12 col-md-6">
        <div class="right-box retro-border h-100 bg-theme-2">
          <!-- Title Bar -->
          <div class="retro-title-bar retro-border font-1">
            <div class="title-text">Skills</div>
            <div class="close-button">X</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>