.left-box,
.right-box {
  padding: 20px;
}
.left-box {
  height: auto !important; /* Force override if needed */
}

@media (min-width: 768px) {
  .left-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
  }

  .left-box {
    flex: 1;
    margin-bottom: 10px;
  }
}

// --------------------------------------------- List styling for education ---------------------------------------------
ul.education-list {
  list-style: none;
  padding-left: 0;
}

ul.education-list li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
}

ul.education-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  width: 30px;
  height: 30px;
  background-image: url('../../assets/folder-icon.png');
  background-size: cover;
  background-repeat: no-repeat;
}
// ----------------------------------------------------------------------------------------------------------------------


// --------------------------------------------- List styling for abilities ---------------------------------------------

ul.abilities-list {
  list-style: none;
  padding-left: 0;
}

ul.abilities-list li {
  position: relative;
  padding-left: 30px;
}

ul.abilities-list li:not(:last-child) {
  margin-bottom: 10px;
}

ul.abilities-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  width: 30px;
  height: 30px;
  // background-image: url("C:/Users/PMLS/Desktop/angular first project/hira-portfolio/src/assets/star.png");
  background-image: url('../../assets/star.png');
  background-size: cover;
  background-repeat: no-repeat;
}

// ----------------------------------------------------------------------------------------------------------------------


.intro-text h2 {
  font-weight: bold;
  margin-bottom: 10px;
}